---
layout: home
permalink: /resume/
---

<div class="resume">
  {% include personal-title.html %}

  <div class="toc">
    <div class="toc-section"><a class="toc-section-link" href="#specialties-skills">Specialties</a></div>
    <div class="toc-section"><a class="toc-section-link" href="#timeline">Timeline</a></div>
    <div class="toc-section"><a class="toc-section-link" href="#technology-matrices">Technology Matrices</a></div>
    <div class="toc-section"><a class="toc-section-link" href="#background">Background</a></div>
  </div>

  <div id="specialties-skills">
    <h1>Specialties and Skills</h1>
    {% include specialties.html %}
  </div>

  <div class="timeline" id="timeline">
    <h1>Timeline</h1>
    {% for item in site.data.resume.timeline %}
    <div class="timeline-item">
      {% include resume-item.html item=item %}
    </div>
    {% endfor %}
  </div>

  <div id="technology-matrices">
    <div id="language-matrix">
      <h1>Language Matrix</h1>
      {% include technology-matrix.html item=site.data.resume.languages_matrix %}
    </div>
    <div id="design-topics-matrix">
      <h1>Design Topics Matrix</h1>
      {% include technology-matrix.html item=site.data.resume.design_topics_matrix %}
    </div>
  </div>

  <div class="background" id="background">
    <h1>Background</h1>
    {% for item in site.data.resume.background %}
    <div class="background-item">
      {% include resume-item.html item=item %}
    </div>
    {% endfor %}
  </div>
</div>

<script type="application/javascript" src="/js/toc.js"></script>
