<div class="row row--title">
    <div class="title-box col col--2">
        <h1 class="title">Jon Eisen</h1>
        <h3 class="tagline">Software Developer</h3>
        <p class="availability">
            Lead Game Analytics Specialist (aka Data Engineer)
            <br>
            <a href="http://activisiongamescience.github.io/">Activision Analytic Services</a>
        </p>

        <div class="resume-links">
            <div class="screen-only">
                {% for item in site.data.resume.links %}
                <a class="icon-link popover" href="{{item.href}}" title="{{item.title}}">
                    <i class="fa fa-{{item.icon}}"></i>
                </a>
                {% endfor %}
            </div>
            <ul class="print-only">
                {% for item in site.data.resume.links %}
                {% if item.print != false %}
                <li><i class="fa fa-{{item.icon}}"></i>
                    {{item.title}}:
                    {% if item.print %}{{item.print}}{% else %}{{item.href}}{% endif %}
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="profile-photo col col--2">
        <img class="profile-photo--img" src="/img/profile-photo.jpg">
    </div>
</div>
