<div class="row row--title">
    <div class="title-box col col--2">
        <h1 class="title">Jon Eisen</h1>
        <h3 class="tagline">Developer For Hire</h3>
        <p class="availability">
            Lead/Senior Developer
            <br>
            Available Freelance
        </p>

        <div class="resume-links">
            <a class="icon-link popover" href="/resume/" title="resume"><i class="fa fa-code"></i></a>
            <a class="icon-link popover" href="/portfolio/" title="portfolio"><i class="fa fa-folder"></i></a>
            <a class="icon-link popover" href="https://github.com/yanatan16" title="github" target="_blank"><i class="fa fa-github"></i></a>
            <a class="icon-link popover" href="https://twitter.com/jm_eisen" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
            <a class="icon-link popover" href="http://www.linkedin.com/in/jeisen" title="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a class="icon-link popover" href="http://joneisen.me" title="blog" target="_blank"><i class="fa fa-rss"></i></a>
            <a class="icon-link popover" href="mailto:jon@joneisen.works" title="email"><i class="fa fa-envelope"></i></a>
        </div>
    </div>
    <div class="profile-photo col col--2"></div>
</div>
