<table class="technology-matrix">
  <thead>
    <col span="1" class="wide">
    <tr>
      <th></th>
      <th>Touched</th>
      <th>Worked on</th>
      <th>Knowledgeable</th>
      <th>Excellent</th>
    </tr>
  </thead>
  <tbody>
    {% for pair in include.item | sort %}
    <tr>
      <td class="kind">{{pair[0]}}</td>
      <td class="touched{% if pair[1] == 2 %} selected"><div class="print-only">X</div>{% else %}">{% endif %}</td>
      <td class="worked{% if pair[1] == 3 %} selected"><div class="print-only">X</div>{% else %}">{% endif %}</td>
      <td class="know{% if pair[1] == 4 %} selected"><div class="print-only">X</div>{% else %}">{% endif %}</td>
      <td class="excellent{% if pair[1] == 5 %} selected"><div class="print-only">X</div>{% else %}">{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
