.devops {
  .banner {
    h1 {
      font-size: 28px;
      font-weight: 700;
      line-height: 34px;

      aside {
        font-size: 18px;

        &.aside-right {
          float: right;
          position: relative;
          top: -2em;
          font-size: 16px;
        }
      }
    }
  }

  .solutions {
    .solution {
      margin: 3em 0;
      &:first-child {
        margin-top: 0;
      }
    }

    .solution-question {
      strong {
        font-style: italic;
      }
    }

    .solution-service {
      color: $grey-color-dark;

      strong {
        font-weight: 700;
      }
    }

    .solution-link {
      display: block;
      width: 100%;
      text-align: center;

      border: 1px dashed $brand-color;
      padding: 0.5em;
    }
  }
}
