

.resume-links {
	font-size: 30px;

	a:visited, a:hover {
		text-decoration: none;
	}
}

.specialties-box {
	clear:both;
	&:after {clear: both}

	ul, li {
		list-style: square;
	}

	.specialties {
		font-size: 14px;

		h3 {
			font-size: 18px;
			font-weight: 700;
		}
	}
}

.front-page-footer {
	margin-top: 50px;
	text-align: center;
	width: 100%;
}

/* Profile Photo */

$img-width: 300px;
$img-height: 400px;
$img-top: 80px;
$img-left: 0px;
$img-frame-width: 300px;
$img-frame-height: 200px;


.row--title {
	height: $img-frame-height;
	padding-bottom: 20px;
	margin-bottom: 30px;
	border-bottom: 1px solid $grey-color-light;
}

.profile-photo {
	display: inline-block;
	height: $img-frame-height;
	width: $img-frame-width !important;
	overflow: hidden;
	position: relative;
	margin-left: 8% !important;

	&:before {
	  content: '';
	  position: absolute;
	  z-index: -1;
	  top: -$img-top;
	  left: -$img-left;
	  width: $img-width;
	  height: $img-height;
		background-image: url(/img/profile-photo.jpg);
		background-size: contain;
		background-repeat: no-repeat;
	}
}

.more-about-me {
	margin-top: 100px;
}