.talks {
  .talk {
    margin: 2em 0;
    .talk-setting {
      .talk-date {
        display: inline-block;
        float: right;
        font-weight: 300;
      }
      .talk-location {
        &, p {
          display: inline-block;
          margin: 0;
        }
        &:before {
          content: ' @ ';
        }
      }
    }
    .talk-links {
      &, li {
        list-style: none;
      }
    }
  }


}
