table.technology-matrix {
  table-layout: fixed;
  width: 100%;

  td {
    border: 1px dashed #ddd;
  }

  .wide {
    width: 35%;
  }

  td.touched.selected {
    background-color: lightskyblue;
  }
  
  td.worked.selected {
    background-color: cornflowerblue;
  }
  
  td.know.selected {
    background-color: dodgerblue;
  }
  
  td.excellent.selected {
    background-color: darkblue;
  }
}
