.toc {
  @include media-query($on-palm) {
    display: none;
  }

  @media print {
    display: none;
  }

  position: fixed;
  top: 5%;
  left: 1%;

  .toc-section {
    padding: 0.25em 0;
  }

  .toc-section-link {
    padding: 0.25em;

    &:visited {
      color: $brand-color;
    }

    &.active {
      border: 1px dashed $grey-color-dark;
    }
  }
}
